<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet"href="~/assets/css/bootstrap.min.css">
    <!--<link rel="stylesheet"href="~/assets/css/bootstrap-theme.min.css">-->
    <!--For Plugins external css-->
    <link rel="stylesheet"href="~/assets/css/plugins.css" />

    <link rel="stylesheet"href="~/assets/css/raleway-webfont.css" />

    <!--Theme custom css -->
    <link rel="stylesheet"href="~/assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet"href="~/assets/css/responsive.css" />

    <script src="~/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/assets/images/logo.png" alt="" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#project">Portfolios</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

        @RenderBody()

    <!--Footer-->
    <footer id="footer" class="sections footer different-bg">

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-first-content">
                        <div class="logo"><img src="~/assets/images/footer-logo.png" alt="Company Logo" /></div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.</p>
                        <p>eugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-mid-content">
                        <h4>Recent Posts</h4>

                        <div class="post">
                            <div class="post-item">
                                <h6>March 30, 2014</h6>
                                <a href="#">Duis autem vel eum iriure dolor</a>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-item">
                                <h6>March 30, 2014</h6>
                                <a href="#">Duis autem vel eum iriure dolor</a>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-item">
                                <h6>March 30, 2014</h6>
                                <a href="#">Duis autem vel eum iriure dolor</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-mid-content">
                        <h4>Twitter Feeds</h4>

                        <div class="post">
                            <div class="post-item">
                                <h6>March 30, 2014</h6>
                                <a href="#">Good work buddy</a>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-item">
                                <h6>March 30, 2014</h6>
                                <a href="#">Good work buddy</a>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-item">
                                <h6>March 30, 2014</h6>
                                <a href="#">Good work buddy</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-last-content">
                        <h4>Our Address</h4>
                        <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta </p>

                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>Moonshine St. 14/05 Light</p>
                            <p><i class="fa fa-phone"></i>+00 (123) 456 78 90</p>
                            <p><i class="fa fa-envelope"></i>first.last@email.com</p>
                        </div>

                    </div>
                </div>

            </div>



        </div>

    </footer>

    <div class="scroll-top">

        <div class="scrollup">
            <i class="fa fa-angle-double-up"></i>
        </div>

    </div>

    <footer class="copyright-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://bootstrapthemes.co"> Bootstrap Themes </a>2016. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>


    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/modernizr.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>
