@model CreateTeamVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Chef</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo">Image</label>
                    <input asp-for="Photo" class="form-control" placeholder="Image" accept="image/*">
                    <span asp-validation-for=Photo></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TwitLink">Twitter</label>
                    <input asp-for="TwitLink" type="text" class="form-control" placeholder="Twitter">
                    <span asp-validation-for="TwitLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FbLink">Facebook</label>
                    <input asp-for="FbLink" type="text" class="form-control" placeholder="Facebook">
                    <span asp-validation-for="FbLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkedLink">Linkedin</label>
                    <input asp-for="LinkedLink" type="text" class="form-control" placeholder="Linkedin">
                    <span asp-validation-for="LinkedLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="PositionId" asp-items="new SelectList(Model.Positions, nameof(Position.Id), nameof(Position.Name))">
                        <option selected disabled>Category</option>
                    </select>
                    <span asp-validation-for="PositionId" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button asp-action="Index" asp-controller="Team" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>